body{
    background: url(../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
}

.destination__img{
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 auto;
    margin-block: 2rem;
}

.destination__btn{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    text-transform: uppercase;
    padding-block-end: 1rem;
    position: relative;
}

.destination__btn::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--white);
}

.destination__btn[aria-selected="true"]::after{
    width: 100%;
}

.tab__header{
   font-size: clamp(3.5rem, 6vw, 6.25rem);
   font-family: var(--belle);
   font-weight: 400;
   padding-block-start: 2.5rem;
   text-transform: uppercase;
}

.tab__para{
    text-transform: initial;
    color: var(--light);
    margin-block: 0.875rem 2.3rem;
}

.destination__ruler{
    border: none;
    outline: none;
    width: 100%;
    height: 2px;
    background-color: var(--white-10);
}

.destination__meta{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
}

.destination-distance--p{
    font-size: 1.75rem;
    font-family: var(--belle);
    text-transform: uppercase;
    color: var(--white);
}

.destination__distance--header{
    font-size: 1rem;
    font-family: var(--condensed);
    color: var(--light);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-block-end: 0.75rem;
}

@media (min-width: 43.55rem) {
    body{
        background: url(../assets/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .destination__tab{
        gap: 2rem;
    }

    .destination__img{
        width: 18rem;
        height: 18rem;
    }

    .destination__meta{
        flex-direction: row;
        justify-content: center;
    }

}

@media (min-width: 63.8rem){
    body{
        background: url(../assets/destination/background-destination-desktop.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .destination__img{
        width: 26rem;
        height: 26rem;
        object-fit: cover;
        object-position: center;
    }

    .destination__tab{
        gap: 4rem;
    }

    .tabs{
        justify-content: flex-start;
    }

    .tab__para{
        margin-inline: 0;
    }

    .title{
        margin-inline-start: 3rem;
    }
}