@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* colors */
    --dark: hsl(230 35% 7%);
    --light: hsl(231 77% 90%);
    --white: hsl(0 0% 100%);
    --mobile-nav: hsl(0 0 100% 4%);
;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --belle: "Bellefair", serif;
    --condensed: "Barlow Condensed", sans-serif;
    --barlow: "Barlow", sans-serif;
}

img,
picture {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex{
    display: flex;
}

body{
    position: relative;
    font-family: var(--barlow);
    font-size: var(--fs-200);
    font-weight: 400;
    color: var(--light);
    width: 100%;
    min-height: 100vh;
    background: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    right: -16rem;
    width: 16rem;
    height: 100%;
    padding: 2rem;
    background-color: var(--mobile-nav);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.5rem);
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    transition: right 0.5s ease-in-out;
}

.nav__menu.active{
    right: 0;
}

.nav__list{
    list-style-type: none;
    text-align: start;
}

.nav__list a > span {
    font-weight: 700;
    margin-inline: 0.5rem;
}

.nav__item{
    padding-block: 1rem;
    margin-block-end: 1rem;
    position: relative;
}

.nav__item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
}

.nav__item.active::after,
.nav__item.active:hover::after{
    width: 100%;
}

.nav__item.active:hover::after{
    background-color: var(--light);
}

.nav__link{
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-family: var(--condensed);
}

/* Menu icons */
.hamburger{
    background-color: transparent;
    color: var(--light);
    border: none;
    outline: none;
}

.hamburger--i{
    font-size: var(--fs-500);
}

.close__btn {
    justify-content: flex-end;
}