body{
    background: url(../assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tech__tab{
    display: inline-grid;
    place-items: center;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0 1rem;
    color: var(--white);
}

.tech__img{
    margin-block: 4rem;
}

.tech__texts {
    margin-block: 4rem;
}

.tech__subheading{
    font-family: var(--condensed);
    font-size: clamp(0.875rem, 2vw, 2rem);
    font-weight: 400;
    color: var(--light);
    letter-spacing: 2px;
}

.tech__heading{
    margin-block-start: 0.7rem;
}

.tech__description{
    margin-block-start: 2rem;
}

.tech__main{
    margin-block: 2rem;
}